<h1>Enketo Collect v{{version}}</h1>
<form>
	<div class="form-group">
		<label>Server URL</label>
		<div class="input-group">
			<input type="text" ng-model="config.serverUrl" class="form-control"/>
			<select ng-model="config.protocol">
				<option value="ona">ONA</option>
				<option value="openrosa">OpenRosa</option>
			</select>
		</div>
	</div>
	<div ng-if="smsSupported" class="form-group">
		<label>Server Phone Number</label>
		<input type="text" ng-model="config.serverPhoneNumber" class="form-control"/>
	</div>
</form>
