<h1>Enketo Collect</h1>
<div class="list-group">
	<a class="list-group-item" ui-sref="forms">Fill Blank Form</a>
	<a class="list-group-item" ui-sref="records-edit-index">Edit Saved Form</a>
	<a class="list-group-item" ui-sref="records-submit-index">Send Finalised Form</a>
	<a class="list-group-item" ui-sref="forms-fetch">Get Blank Form</a>
	<a class="list-group-item" ui-sref="forms-manage">Delete Saved Form</a>
	<div role="separator" class="divider"></div>
	<a class="list-group-item" ui-sref="config">Change Settings</a>
</div>
