<h1>Edit Saved Form</h1>
<div class="loader" ng-show="loading"></div>
<table class="table table-striped" ng-show="!loading && records.length">
	<tr ng-repeat="r in records">
		<td>{{r.lastEditDate}}</td>
		<td>{{r.formTitle}}</td>
		<td><a class="btn btn-primary" ui-sref="records-edit({ id:r._id })">Edit</a></td>
		<td><a class="btn btn-danger" ng-click="delete(r)">Delete</a></td>
	</tr>
</table>
<div ng-hide="loading || records.length">
	<p>Nothing available to display.</p>
	<p>Try getting and filling out a blank form.</p>
</div>
