<html ng-app="ncollectApp">
<head>
	<script src="bundle.js"></script>
	<link rel="stylesheet" href="style.css"></link>
</head>
<body ng-controller="ncollectCtrl">
	<div class="loader" ng-show="loading"></div>
	<div ng-controller="mainMenuCtrl" ng-show="pane == 'main-menu'">
		<ul>
			<li><button>Fill Blank Form</button></li>
			<li><button>Edit Saved Form</button></li>
			<li><button>Send Finalised Form</button></li>
			<br/>
			<li ng-click="setPane('form-fetch')"><button>Get Blank Form</button></li>
			<li ng-click="setPane('form-manage')"><button>Delete Saved Form</button></li>
		</ul>
		<button ng-click="setPane('settings')">Change Settings</button>
	</div>

	<div ng-controller="settingsCtrl" ng-show="pane == 'settings'">
		<h1>Enketo Collect v{{version}}</h1>
		<button ng-click="setPane('main-menu')">Hide settings</button>
	</div>

	<div ng-controller="formFetchCtrl" ng-show="pane == 'form-fetch'">
		<h1>Form Fetcher</h1>
		<button ng-click="setPane('main-menu')">Hide form fetch</button>
		<div class="loader" ng-show="loading"></div>
		<form ng-show="!loading">
			<ul>
				<li ng-repeat="f in availableForms">
					<input type="checkbox" ng-model="download[$index]"/>
					{{f.title}}
				</li>
			</ul>
			<button ng-click="toggleAll()">Toggle All</button>
			<button ng-click="refreshAvailable()">Refresh</button>
			<button ng-click="fetchSelected()">Get Selected</button>
		</form>
	</div>

	<div ng-controller="formManagerCtrl" ng-show="pane == 'form-manage'">
		<h1>Form Manager</h1>
		<button ng-click="setPane('main-menu')">Hide form manager</button>
		<div class="loader" ng-show="loading"></div>
		<form ng-show="!loading">
			<ul>
				<li ng-repeat="f in forms">
					{{f.title}} <button ng-click="delete(f)">delete</button>
				</li>
			</ul>
		</form>
		<button ng-click="refresh()">Refresh</button>
	</div>
	<ol>
		<li ng-repeat="e in errors">
			<pre>
{{e.date}} | {{e.err}}
			</pre>
		</li>
	</ol>
</body>
</html>
