<html ng-app="ncollectApp">
<head>
	<script src="bundle.js"></script>
	<link rel="stylesheet" href="style.css"></link>
</head>
<body ng-controller="ncollectCtrl">
	<div class="loader" ng-show="loading"></div>
	<div ng-controller="mainMenuCtrl" ng-show="state.pane == 'main-menu'">
		<ul>
			<li><button ng-click="setPane('form-edit')">Fill Blank Form</button></li>
			<li><button ng-click="setPane('record-list')">Edit Saved Form</button></li>
			<li><button>Send Finalised Form</button></li>
			<br/>
			<li><button ng-click="setPane('form-fetch')">Get Blank Form</button></li>
			<li><button ng-click="setPane('form-manage')">Delete Saved Form</button></li>
		</ul>
		<button ng-click="setPane('config')">Change Settings</button>
	</div>

	<div ng-controller="configCtrl" ng-show="state.pane == 'config'">
		<h1>Enketo Collect v{{version}}</h1>
		<button ng-click="setPane('main-menu')">Back</button>
		<label>
			Server URL
			<input type="text" ng-model="config.serverUrl"/>
		</label>
		<select ng-model="config.protocol">
			<option value="ona">ONA</option>
			<option value="openrosa">OpenRosa</option>
		</select>
	</div>

	<div ng-controller="formFetchCtrl" ng-show="state.pane == 'form-fetch'">
		<h1>Form Fetcher</h1>
		<button ng-click="setPane('main-menu')">Back</button>
		<div class="loader" ng-show="loading"></div>
		<form ng-show="!loading">
			<ul>
				<li ng-repeat="f in availableForms">
					<input type="checkbox" ng-model="download[$index]"/>
					{{f.title}}
				</li>
			</ul>
			<button ng-click="toggleAll()">Toggle All</button>
			<button ng-click="refreshAvailable()">Refresh</button>
			<button ng-click="fetchSelected()">Get Selected</button>
		</form>
	</div>

	<div ng-controller="recordListCtrl" ng-show="state.pane == 'record-list'">
		<h1>Edit Saved Form</h1>
		<button ng-click="setPane('main-menu')">Back</button>
		<div class="loader" ng-show="loading"></div>
		<ul ng-show="!loading && records.length">
			<li ng-repeat="r in records">
				{{r.lastEditDate}} | {{r.formTitle}}
				<button ng-click="edit(r)">Edit</button>
				<button ng-click="delete(r)">Delete</button>
			</li>
		</ul>
		<div ng-hide="loading || records.length">
			<p>Nothing available to display.</p>
			<p>Try getting and filling out a blank form.</p>
		</div>
		<button ng-click="refresh()">Refresh</button>
	</div>

	<div ng-controller="formManagerCtrl" ng-show="state.pane == 'form-manage'">
		<h1>Form Manager</h1>
		<button ng-click="setPane('main-menu')">Back</button>
		<div class="loader" ng-show="loading"></div>
		<form ng-show="!loading">
			<ul>
				<li ng-repeat="f in forms">
					{{f.title}} <button ng-click="delete(f)">delete</button>
				</li>
			</ul>
		</form>
		<button ng-click="refresh()">Refresh</button>
	</div>

	<div ng-controller="formEditCtrl" ng-show="state.pane == 'form-edit'">
		<button ng-click="setPane('main-menu')">Back</button>
		<div class="loader" ng-show="loading || state.enketoLoading"></div>
		<ul ng-show="!loading && !state.form">
			<li ng-repeat="f in forms">
				<a href="#" ng-click="edit(f)">{{f.title}}</a>
			</li>
			<button ng-click="refresh()">Refresh</button>
		</ul>
		<div id="enketo-form" ng-show="!loading && state.form">
			<div class="pages"></div>
			<div class="form-footer">
				<label>
					Mark form as finalised
					<input type="checkbox" ng-model="state.form.finalised"/>
				</label>
				<button class="btn btn-default previous-page">&lt; Previous</button>
				<button class="btn btn-primary next-page">Next &gt;</button>
				<button class="btn btn-primary submit" ng-click="save()" ng-disabled="saving">Save</button>
				<div class="loader inline small" ng-show="saving"></div>
			</div>
		</div>
	</div>

	<ol>
		<li ng-repeat="e in errors">
			<pre>
{{e.date}} | {{e.err}}
			</pre>
		</li>
	</ol>
</body>
</html>
