<h1>Form Fetcher</h1>
<div class="loader" ng-show="loading"></div>
<form ng-show="!loading">
	<div ng-hide="error" class="form-group" ng-repeat="f in availableForms">
		<label>
			<input type="checkbox" ng-model="download[$index]"/>
			{{f.title}}
		</label>
	</div>
	<div ng-hide="error || !availableForms.length">
		<p>No forms available from the server.</p>
	</div>
	<div class="alert alert-warning" ng-show="error">{{error}}</div>
	<button class="btn btn-default" ng-click="toggleAll()" ng-class="{ disabled: !availableForms.length }">Toggle All</button>
	<button class="btn btn-default" ng-click="refreshAvailable()">Refresh</button>
	<button class="btn btn-primary" ng-click="fetchSelected()" ng-class="{ disabled: !availableForms.length }">Get Selected</button>
</form>
